json==2.0.9
urllib.parse==1.0.0
openai==1.1.0
dotenv==1.0.1
requests==2.31.0
bs4==0.0.1
torch==2.2.0
torchvision==0.17.0
transformers==4.35.0
datasets==2.14.5
tqdm==4.67.0
pydantic==2.10.2
typing==4.11.0
PIL==10.0.0
numpy==1.26.0
re==2.2.1
cv2==4.10.0
base64==0.5.1
gtts==2.2.2
audio_recorder_streamlit==0.0.1
